.container {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.title {
  font-family: monospace;
  font-size: 400%;
  padding: 1%;
}

.title1 {
  color: #fff;
  padding-right: 0.5%;
}

.title2 {
  color: #000;
}

.subTitle {
  font-family: monospace;
  font-size: 175%;
  color: #fff;
  padding: 1%;
}

.button {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-weight: 400;
  font-size: large;
  padding: 1%;
  margin: 1%;
}